<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.title</title>
</head>
<body>
	@RenderBody()
	@Html.ActionLink("TestControl", "Index", "Test")
	@*Html.ActionLink("ViewResult", "VR", "PV", new { id=1 })*@
	@*建議這樣寫*@
	<div>RenderPartial:[
	  @{
		Html.RenderPartial("PV", ViewData);
	  }
	]</div>
	<div>RenderAction:[
		@*Html.RenderAction("MenuView", "PV")*@
	]</div>
</body>
</html>
