<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.title</title>
</head>
<body>
	@RenderBody()
	@Html.ActionLink("Test", "Index", "Test")
	@*建議這樣寫*@
	RenderPartial:[
	  @{
		Html.RenderPartial("PV", ViewData);
	  }
	]
</body>
</html>
