<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<span>@TempData["Hello"]</span>
@model String
<b id="view" onclick="">@Model "ClickMe"</b>

<script>
$("#view").on("click", function() {
  alert('Hello world!');
});
</script>
